{
	"remotePort": 3030,
	"expressPort": 1337,
	"downloadsDir": "/example/path/",
	"whatUsername" : "",
	"whatPassword" : "",
	"remoteUrl": "",
	"remoteSSHPath" : "example@path.com",
	"localDownloadDir": "./downloads/"

}