<div class="row" ng-controller="HomeCtrl">
	<div clas="col-xs-12">
		<ul class="list-unstyled">
			<li>\{{currentUser.username}} <small>\{{currentUser.userstats.class}}</small></li>
			<li>ratio: <small>\{{currentUser.userstats.ratio}}</small></li>
		</ul>
	</div>
</div>