<div class="row">
	<div clas="col-xs-12">
		<h1>What.cd Artist Top</h1>
		<form class="form-inline" method="get" action="/top">
			 <div class="form-group">
    			<input type="text" class="form-control form-control-lg" id="searchInput" placeholder="Artist" name="artist">
  			</div>
  			<button type="submit" class="btn btn-primary btn-lg">Get</button>
		</form>
	</div>
</div>